<!DOCTYPE html>

<Head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</Head>

<body>

    <div class=" main w-full min-h-screen bg-zinc-900 p-10  ">
        <div class=" text-center text-white font-mono font-semibold pb-6 text-xl">Task Maker</div>
        <form action="/create" method="post">

            <input class="w-full bg-zinc-700 text-white border-none rounded-md py-2 px-4 mb-4" name="title"
                placeholder="Title goes here "></input>
            <textarea class="w-full bg-zinc-700 text-white border-none rounded-md py-2 px-4 mb-4" name="detail"
                placeholder="Content goes here "></textarea>
            <Button type="submit" class="px-4 py-2 bg-blue-600 hover:bg-blue-500 rounded-md text-white mb-6"> Create
                Task</Button>
        </form>
        <div class="flex flex-wrap flex-row  gap-4  ">
            <% if(files.length> 0 ){ %>
                <% files.forEach(function(val){ %>


                    <div class="h-auto w-1/5 bg-zinc-600 rounded-md  flex justify-between py-4 px-2 items-start ">
                        <div class="flex flex-col justify-start text-zinc-100">
                            <div class="text-white pb-4">
                                <%= val %>
                            </div>
                            <a href="/file/<%= val %>"
                                class="text-blue-600 text-sm cursor-pointer tracking-tighter hover:tracking-wider transition-all duration-300 translate-x-2 transform-gpu">Read
                                More</a>
                        </div>
                        <a href="/edit/<%= val %>">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20"
                                viewBox="0 0 24 24" fill="white">
                                <path
                                    d="M 18.414062 2 C 18.158062 2 17.902031 2.0979687 17.707031 2.2929688 L 15.707031 4.2929688 L 14.292969 5.7070312 L 3 17 L 3 21 L 7 21 L 21.707031 6.2929688 C 22.098031 5.9019687 22.098031 5.2689063 21.707031 4.8789062 L 19.121094 2.2929688 C 18.926094 2.0979687 18.670063 2 18.414062 2 z M 18.414062 4.4140625 L 19.585938 5.5859375 L 18.292969 6.8789062 L 17.121094 5.7070312 L 18.414062 4.4140625 z M 15.707031 7.1210938 L 16.878906 8.2929688 L 6.171875 19 L 5 19 L 5 17.828125 L 15.707031 7.1210938 z">
                                </path>
                            </svg>
                        </a>

                    </div>
                    <% }) %>
                        <% } else { %>
                            <h3 class="text-zinc-400 ">No Task Yet</h3>
                            <% } %>

        </div>

    </div>

    <script>
        // Show toast if message is present in the URL query params

        const message = "<%= message %>";
        if (message) {
            M.toast({ html: message });
        }
    </script>
</body>